.textimage-block {
    margin-top: 96px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    grid-gap: 48px;
    align-items: center;
    &__item {
        &:nth-child(1) {
            order: 1;
        }
        &:nth-child(2) {
            order: 1;
        }
        &.right {
            order: 3;
        }
        &-title {
            strong {
                color: $pink;
            }
        }
        &.image {
            height: 100%;
            img {
                min-height: 100%;
                object-fit: cover;
            }
        }
        .button {
            float: right;
            margin-top: 48px;
        }
        &-list {
            margin-top: 48px;
            display: grid;
            gap: 24px;
            grid-template-columns: repeat(2, 1fr);
            h3 {
                font-family: "PlayfairDisplay", sans-serif;
                font-weight: 500;
            }
            @media (max-width: $screen-sm-min) {
                grid-template-columns: 1fr;
            }
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
        @media (max-width: $screen-sm-min) {
            width: 100%;
        }
    }
    @media (max-width: $screen-sm-min) {
        grid-template-columns: 1fr;
    }
}
