  /* PlayfairDisplay-regular - latin */
  @font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-400.ttf') format('truetype'); 
  }
  /* PlayfairDisplay-500 - latin */
  @font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-500.ttf') format('truetype'); 
  }
  /* PlayfairDisplay-600 - latin */
  @font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-600.ttf') format('truetype'); 
  }
  /* PlayfairDisplay-700 - latin */
  @font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-700.ttf') format('truetype'); 
  }
  /* PlayfairDisplay-800 - latin */
  @font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-800.ttf') format('truetype'); 
  }
  /* PlayfairDisplay-900 - latin */
  @font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-900.ttf') format('truetype'); 
  }







  /* SourceSansPro-200 - latin */
  @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/SourceSansPro/SourceSansPro-200.ttf') format('truetype'); 
  }
  /* SourceSansPro-300 - latin */
  @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/SourceSansPro/SourceSansPro-300.ttf') format('truetype'); 
  }
  /* SourceSansPro-regular - latin */
  @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/SourceSansPro/SourceSansPro-400.ttf') format('truetype'); 
  }
  /* SourceSansPro-600 - latin */
  @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/SourceSansPro/SourceSansPro-600.ttf') format('truetype'); 
  }
  /* SourceSansPro-700 - latin */
  @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/SourceSansPro/SourceSansPro-700.ttf') format('truetype'); 
  }
  /* SourceSansPro-900 - latin */
  @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/SourceSansPro/SourceSansPro-900.ttf') format('truetype'); 
  }