$primary-white: #ffffff;
$primary-black: #000;
$light-blue: #2f6fed;
$light-blue-hvr: #1D5BD6;
$dark-blue: #1d2433;
$pink: #fc68b9;
$pink-hvr: #E55EA9;
$light-gray: #f8f8f8;
$gray: #F1F3F9;
$default-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);

$box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
$box-shadow-light: 0px 0px 10px rgba(0, 0, 0, 0.08);
